POSTGRES_USER=insert-user-name-here
POSTGRES_PASSWORD=insert-password-here
POSTGRES_DB=insert-db-name-here
POSTGRES_URL=jdbc:postgresql://localhost:<port>/<name-of-postgres-db>

TWITCH_CLIENT_ID=insert-twitch-client-id-here
TWITCH_CLIENT_SECRET=insert-twitch-client-secret-here
